<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409114341193-qt32486ibmvfndvpq43o282htc7h95h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409114341193-qt32486ibmvfndvpq43o282htc7h95h0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409114341193-5fkda5jibu7c6g3ke17e6q10ctd3dd1h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZUMwraSxUCTeUWLSqFs0ZaWVnP5yUEQA</string>
	<key>GCM_SENDER_ID</key>
	<string>409114341193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fmacApplication</string>
	<key>PROJECT_ID</key>
	<string>fmac-3a1c8</string>
	<key>STORAGE_BUCKET</key>
	<string>fmac-3a1c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409114341193:ios:eb07e98e91a6343892b498</string>
</dict>
</plist>